section.content
	.content-box
		.video-show
			h3 起小点TOP10 VOL190 满分细节！谁说没到6秀不起来!
			.video-a
				embed(src='http://player.youku.com/player.php/sid/XMTU0NTgyMjc0OA==/v.swf' allowFullScreen='true' quality='high' width='860' height='524' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash')
			.video-o
				div.vote-count
					p.vote.glyphicon.glyphicon-thumbs-up
					p 1023
				div.share share...
