section.content
	.content-box
		.video-show
			h3 !{video.title}
			.video-a
				embed(src='#{video.src}' allowFullScreen='true' quality='high' width='860' height='524' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash')
			.video-o
				div.vote-count
					p.vote.glyphicon.glyphicon-thumbs-up
					p !{video.voteCount}
				//-  JiaThis Button BEGIN
				div.jiathis_style_24x24.share
					a.jiathis_button_qzone
					a.jiathis_button_tsina
					a.jiathis_button_tqq
					a.jiathis_button_weixin
					a.jiathis_button_renren
					a(href='http://www.jiathis.com/share' class='jiathis jiathis_txt jtico jtico_jiathis' target='_blank')
					a.jiathis_counter_style

script(src='http://v3.jiathis.com/code/jia.js' charset='utf-8')
//- -<!-- JiaThis Button END -->
